*{
    margin: 0;
    padding: 0;
}
.grid{
    background-color: bisque;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "col1 col2 col3";
    grid-gap: 20px;
}
.col1{
    grid-area:col1;
    background-color:rgb(119, 224, 193);
}
.col2{
    grid-area:col2;
    background-color:rgb(216, 136, 61); 
}
.col3{
    grid-area:col3;
    background-color:rgb(37, 163, 212); 
}
@media screen and(min-width:736px)
{
    .grid{
        background-color: bisque;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "col1 col2 col3";
        grid-gap: 10px;
    }
}