*{
    margin: 0;
    padding: 0;
}
body{
    display:body;
    padding:100px 100px;

}
b{
    font-size: 20px;
}
h1{
    text-align: center;
}
.grid{
    display:grid;
    margin:auto 100px;
    background-color: bisque;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". col1 col2 col3 .";
    grid-gap: 30px;
}
.col1{
    grid-area:col1;
    padding:50px 50px;
    margin: 20px auto;
    background-color:rgb(119, 224, 193);
}
.col2{
    grid-area:col2;
    padding:50px 50px;
    margin: 20px auto;
    background-color:rgb(216, 136, 61); 
}
.col3{
    grid-area:col3;
    padding:50px 50px;
    margin: 20px auto;
    background-color:rgb(37, 163, 212); 
}
@media screen and(min-width:736px)
{
    .grid{
        display:grid;
        background-color: bisque;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "col1 col2 col3";
        grid-gap: 10px;
    }
}
